*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.film {
  width: 50%;
  margin: 40px auto;
}

i {
  color: #D61700;
}

.film {
  position: relative;
  width: 48%;
  border: 1px solid lightgrey;
  padding: 20px;
  overflow: hidden;
}

.film-poster {
  width: 30%;
  height: 250px;
  position: relative;
  float: left;
  margin: 20px;
}
.action-watch-later {
  position: absolute;
  top: 8px;
  right: 8px;
}
.film-description {
  position: relative;

}
.action-like {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
